<launch>
    <node pkg="nodelet" type="nodelet" name="tracker_manager" args="manager" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="ScanConverter" args="load f1tenth_sensor_fusion/laserscan_to_pointcloud_nodelet tracker_manager" output="screen">
        <rosparam command="load" file="$(find f1tenth_sensor_fusion)/params/laser_converter.yaml" />
    </node>

    <node pkg="nodelet" type="nodelet" name="PointCloudFilter" args="load f1tenth_sensor_fusion/pointcloud_filter_nodelet tracker_manager" output="screen">
        <rosparam command="load" file="$(find f1tenth_sensor_fusion)/params/pointcloud_filter.yaml" />
    </node>

    <node pkg="nodelet" type="nodelet" name="LidarTracker" args="load f1tenth_sensor_fusion/lidar_tracker_nodelet tracker_manager" output="screen">
        <rosparam command="load" file="$(find f1tenth_sensor_fusion)/params/lidar_cloud.yaml" />
    </node>

    <node pkg="nodelet" type="nodelet" name="CameraTracker" args="load f1tenth_sensor_fusion/camera_tracker_nodelet tracker_manager" output="screen">
        <rosparam command="load" file="$(find f1tenth_sensor_fusion)/params/camera_cloud.yaml" />
    </node>
</launch>
